@model IEnumerable<MvcDB.Models.Aluno>

@{
    ViewData["Title"] = "Listagem Alunos";
}

<h1>Alunos</h1>

<p>
    <a asp-action="Criar">Adicionar aluno</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var registro in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => registro.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => registro.Nome)
                </td>
                <td>
                    @Html.DisplayFor(model => registro.Serie)
                </td>
                <td>
                    @Html.DisplayFor(model => registro.Idade)
                </td>
                <td>
                    @Html.DisplayFor(model => registro.CPF)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@registro.Id">Editar</a> |
                    <a asp-action="Detalhes" asp-route-id="@registro.Id">Detalhes</a> |
                    <a asp-action="Deletar" asp-route-id="@registro.Id">Deletar</a>
                </td>

            </tr>
        }
    </tbody>

</table>